%br
  %h2
    Date
    = @menu.date
%br
- @first_dishes.each do |dish|

  = image_tag dish.image.url :thumb if dish.image?
  %p
    Name:
    = dish.name
    %br
    Price:
    = dish.price
  %br
%br
- @second_dishes.each do |dish|
  = image_tag dish.image.url :thumb if dish.image?
  %p
    Name:
    = dish.name
    %br
    Price:
    = dish.price
  %br
%br
- @drink_dishes.each do |dish|
  = image_tag dish.image.url :thumb if dish.image?
  %p
    Name:
    = dish.name
    %br
    Price:
    = dish.price
  %br

- if @menu.date == Date.today
  = form_for [@menu, @order] do |f|
    = @order.errors.full_messages.first if @order.errors.any?
    = f.error_messages
    = f.label :first_dish, "First"
    = f.collection_select :first_dish, @first_dishes,:id,:name, include_blank: true
    = f.label :main_dish
    = f.collection_select :main_dish, @second_dishes,:id,:name, include_blank: true
    = f.label :drink
    = f.collection_select :drink, @drink_dishes, :id,:name, include_blank: true
    = f.submit

- if current_user ? current_user.admin : false
  - @orders.each do |order|
    %h3
      User:
      = order.user.name
    %h4
      Info order
    %p
      ID
      = order.id
    %p
      Price
      = order.price

    %br
  %h3
    Total:
    = @total
    %br
    Number:
    = @orders.size