%br
  = @menu.date
%br
- @first_dishes.each do |dish|
  = dish.name
  = dish.price
  %br
%br
- @second_dishes.each do |dish|
  = dish.name
  = dish.price
  %br
%br
- @drink_dishes.each do |dish|
  = dish.name
  = dish.price
  %br



