%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title SaaS
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'

  %body
    .container
      = render 'shared/header'
      %p.notice
        = notice
      %p.alert
        = alert
      - if current_user
        %h2
          Welcome
          = current_user.name || current_user.email
        - if current_user.admin?
          %h4 Hi Admin
      = yield
